@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Karla";
  src: url("../../public/assets/fonts/Karla-VariableFont_wght.ttf"),
    url("../../public/assets/fonts/Karla-Italic-VariableFont_wght.ttf"),
    url("../../public/assets/fonts/static/Karla-Bold.ttf"),
    url("../../public/assets/fonts/static/Karla-Regular.ttf");
  /* font-weight: normal;
  font-style: normal; */
}

/* .success-message {
  transform: translateY(-200%) translateX(-50%);
  transition: top 0.5s ease-out, opacity 0.5s ease-out;
} */

.success-message-ani {
  /* transform: translateY(-0%) translateX(-50%); */
  /* top: 20px;
  opacity: 1; */
  animation: dropFade 0.5s ease-out forwards, fadeOut 0.5s ease-in 3s forwards;
}

/* Drop down animation */
@keyframes dropFade {
  from {
    transform: translateX(-50%) translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

/* Fade out animation */
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
